<link rel="stylesheet" href="/css/index.css">
<div class="content">
  <div id="movie">
    {{movie}}
  </div>
  {{#if button}}
    <button id="button" type="button" class="btn btn-primary">Print to server</button>
  {{/if}}
  {{> partial}}
</div>
<script src="/js/index.js"></script>
